/* navbar css starts*/



  /* narbar ends*/


/* portfolio css starts*/
body {	color:rgb(100, 180, 255); font:300 15px/15px Roboto,Arial,Helvetica; -webkit-font-smoothing:antialiased;
	 background-image: url(https://media.istockphoto.com/photos/tropical-beach-palm-trees-sea-wave-and-white-sand-picture-id1300296030?k=20&m=1300296030&s=612x612&w=0&h=9bjPI31S8l_CPjG2_E793u2ZpryZjQtb6mEFkwV_usQ=);}

a{color:#00a9c6; text-decoration:none;}
a:hover{color:#666;}
.btn,a,.btn:hover,a:hover {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;

}

h1,h2,h3,h4{margin: 0;line-height: 1em;}
h2{font:300 2.5em Josefin Sans,Arial,Helvetica;margin-bottom: 1.5em;}
h3{font:300 2em Roboto,Arial,Helvetica;margin:2em 0 1em 0;}
h4{font:300 1.5em Roboto,Arial,Helvetica;margin-bottom: 1em;}
h4 i{margin-right: 0.5em;}

p{font-size:1em;line-height: 1.7em; margin-bottom: 1.7em;}

.spacer{padding: 6em 0;}

.btn{border:none;border-radius: 0;padding: 1em 4em;background: rgba(0,0,0,0.5);text-transform: uppercase;}
.btn:hover,.btn:active{color: #fff;}
.btn-default{color: #ccc;border: 1px solid #aaa;}
.btn-default:hover,.btn-default:active{background: rgba(0,0,0,0.8);}
.btn-primary{color: #fff;background:#666;width: 100%;outline: none;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{background:#333;box-shadow: none;}



#head,.carousel{margin-top: 0;}


/*banner*/
.banner{position: fixed; background-attachment: fixed; border-width: 0px;}


/* This is the background colour */ 
.banner .caption{position: absolute;top: 0;left:0; right: 0; bottom: 0;background:rgba(52, 138, 236, 0.9); }
.banner .caption-wrapper{display: table;height: 70%;width: 100%;}
/* This is the text under you circle picture*/
.banner .caption-info{display: table-cell;vertical-align: middle;text-align: center;color: rgb(10, 9, 9);}
.banner .caption-info h1{font:normal 4.5em Josefin Sans,Arial,Helvetica;text-transform:capitalize;}
.banner .caption-info p{font:600 1.7em Josefin Sans,Arial,Helvetica;}
.banner a.explore{color: #fff;}
.banner img.profile{border:5px solid rgb(186, 248, 248);}


